body{
  background-color:white;
  height:100%;
  margin:0;
}
#background{
  opacity: 0.5;
  position:fixed;
  top:0;
  max-width:100%;
  z-index: -1;
}
#scrolling{
  margin:auto;
  height:100%;
  width:65%;
  background-color:#fffdef;
}
a{
  position:fixed;
  left: 63%;
  top:550px;
  z-index:1;
  font-family: "Lucida Console", sans-serif;
}
.room{
  width:35%;
  margin-left:200px;
}
.room:hover .closed{
  opacity: 0;
}

.closed{
  position:absolute;

}
.room:hover .greeting, .room:hover #isHome{
  display:block;
}
h1{
  position:relative;
  right:1.5em;
  color: #728BA9;
  font-size:65px;
  font-family:sans-serif;
  z-index: 1;
  top:30px;
}

p{
  position:fixed;
  font-family:"Lucida Console",sans-serif;
  top:240px;
  left:60%;
  width:220px;
  display:none;
}

section#border{
  position:fixed;
  width:250px;
  height:250px;
  left: 59%;
  top: 200px;
  border-color:black;
  background-color:white;
  border-radius: 15px 50px 30px 5px;
  border-style:solid;
}
@media screen and (max-width:1450px) {

  section#border{
    width:200px;
  }
  #scrolling{
    min-width:1000px;
  }
  p{
    width:170px;
  }
}
